[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpy2 = "*"
networkx = "*"
numpy = "*"
pandas = "*"
plotly = "*"
seaborn = "*"
scikit-learn = "*"
toolz = "*"
matplotlib = "*"
tabulate = "*"
python-louvain = "*"
Cython = "*"
swifter = "*"
pyramda = "*"
portalocker = "*"
hcve-lib = "==0.1.5"

[dev-packages]

[requires]
python_version = "3.8"
